player-connection-mode=Listen
player-connection-guid=881540962
player-connection-debug=0
player-connection-project-name=VR_Cardboard_PCCU
player-connection-ip=192.168.194.1
player-connection-ip=192.168.75.1
player-connection-ip=172.20.10.2
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=6b2d93270d7d4d10b45e67dc85e8c74a
